{{ coursesListProps.title | lowercase }} <br>
{{ coursesListProps.students | number }} <br>
{{ coursesListProps.rating | number: '2.1-1' }} <br>
{{ coursesListProps.price | currency }} <br>
{{ coursesListProps.releaseDate | date: 'shortDate' }} <br>
