<h2>{{ title }}</h2>

<ul>
  <li *ngFor = "let course of courses">{{ course }}</li>
  <button class = "btn" (click) = "onSave($event)">Save</button>
  <!-- <input #textInside type="text" (keyup.enter) = "keyUpEnter(textInside.value)"> -->
  <input [(ngModel)] = "textInside" type="text" (keyup.enter) = "keyUpEnter()">
</ul>
