<!--The content below is only a placeholder and can be replaced.-->
<h1>Angular Fundamentals App</h1>
<h2>Courses App</h2>

<course></course>
<hr>
<courses></courses>
<hr>
<h2>Tareas "Displaying Data and Handling Event"</h2>
<hr>
<h3>Favorite Component</h3>
<h5>My Solution</h5>
<favorite></favorite>
<h5>Instructor Solution</h5>
<inst-fav></inst-fav>
<hr>
<h3>Title Casing</h3>
<title-casing></title-casing>
<hr>
<h1>Building Reusable Components</h1>
<hr>
<inst-fav [is-favorite] = "post.isFavorite" (change) = "onFavoriteChange($event)"></inst-fav>
<hr>
<h1>Like Reusable Component</h1>
<p>My Like</p>
<my-like [likes-count] = "tweet.likesCount" [is-liked] = "tweet.isLiked" (click-like)="onLikeClick($event)"></my-like>
<p>Instructor Like</p>
<like [instr-count] = "tweet.likesCount" [instr-active] = "tweet.isLiked"></like>
<hr>
<h1>Directives</h1>
<h3>ngIf</h3>